@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #000A23;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1{
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    padding: 15px;
    width: 80%;
    background-color: #2A344B;
    border-radius: 30px;
    letter-spacing: 5px;
    box-shadow: -1px 10px 14px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

header nav{
    background-color: #2A344B;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    width: 60%;
    border-radius: 30px;
    margin-top: -5px;
}

header nav ul{
    list-style: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
}

.banner_princ{
    background: linear-gradient(270deg, rgba(42,52,75,1) 35%, rgba(99,121,177,1) 100%);
    margin-top: 50px;
    padding: 50px;
    width: 80%;
    border-radius: 30px;
    margin-left: -30px;
}

.servicios_text1 {
    color: #fff;
    margin-left: 250px;
    font-size: 23px;
}

.banner_princ h2{
    color: #fff;
    margin-left: 250px;
    font-size: 43px;
}

.servicios_text2{
    margin-top: 1px;
    color: #fff;
    margin-left: 250px;
    font-size: 11px;
    font-weight: lighter;
}

.slogan{
    display: flex;
    margin-top: 50px;
    background-color: #2A344B;
    justify-content: center;
    align-items: center;
    padding: 40px 100px 40px 100px;
    opacity: 50%;
}

.slogan h3{
    color: #fff;
    font-family: "Inconsolata", serif;
    font-size: 30px;
    font-weight:400;
}

.team_section{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A344B;
    border-radius: 30px;
}

.img_team{
    width: 45%;
    margin-left: 30px;
    border-radius: 30px;
}

.descrip_team{
    text-align: center;
    color: #fff;
    margin: 100px;
}

.descrip_team h4{
    font-size: 25px;
}

.descrip_team p{
    margin-top: 10px;
}

.descrip_team p a{
    text-decoration: none;
    color: #fff;
    background-color: #6379B1;
    padding: 4px;
    border-radius: 30px;
}

footer{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    background-color: #2A344B;
    opacity: 50%;
}

footer h5{
    color: #fff;
    margin: 10px;
}